/.idea/**
**/.DS_Store
package-lock.json
node_modules/**
**.gif
**.jpg
**.jpeg
**.png
**.docx
**.pptx
**.pdf
**.tiff
**.psd
**.mov
**.mp4
**.wmv
**.mp3
**.flv
**.avi
**.mkv
**.zip
**.xd
**.GIF
**.JPG
**.JPEG
**.PNG
**.DOCX
**.PPTX
**.PDF
**.TIFF
**.PSD
**.MOV
**.MP4
**.WMV
**.MP3
**.FLV
**.AVI
**.MKV
**.ZIP
**.XD
/.vscode/**
tmp
~**.XLSX
!/qaImportChromePlugin/favicon.PNG
**.SVG
**.SRT